body {
    margin: 20px;
}

/*header*/

.header-menu {
    display: flex;
}

/*main weather*/

.main-weather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
}

@media (max-width: 600px) {
    .main-weather {
        display: flex;
        flex-direction: column;
    }
}

.main-weather-city {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#main-name{
    grid-column-end: span 2;
}

/*main and favourite city*/

.main-weather-info-list {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-row-gap: 10px;
    color: white;
}

.weather-info {
    padding: 5px;
    background-color: #C0C0C0;
}

.weather-detail {
    padding: 5px;
    margin: 0;
    background-color: #C0C0C0;
}

/*favourite*/

.main-menu {
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .main-menu {
        display: flex;
        flex-direction: column;
    }
}

.plus-button {

}

/*favourite cities*/

.favourite-weather-cities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 40px;
}

@media (max-width: 600px) {
    .favourite-weather-cities {
        display: flex;
        flex-direction: column;
    }
}

.favourite-weather-city {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
}