body {
    margin: 25px 25px 0 25px;
}

button {
    border-radius: 50%;
    border: 0;
    background-color: #696969;
    color: white;
}

input {
    height: 30px;
    width: 300px;
    border-radius: 4px;
    border: 0;
    margin-right: 10px;
    padding: 5px 5px 5px 15px;
    background-color: #DCDCDC;
    color: #808080;
}

h1, h3 {
    margin: 0;
    color: #696969;
    font-size: 30px;
}

h2 {
    color: #696969;
    font-size: 40px;
    margin: 0;
    font-weight: 600;
    font-family: sans-serif;
}

h4 {
    display: flex;
    align-items: center;
    margin: 0;
    color: #696969;
    font-size: 28px;
    font-weight: 600;
    font-family: sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

/*Header*/

.header-menu-title-name {
    display: flex;
    align-items: center;
}

.header-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;
}

.update-button-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-button {
    padding: 0;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 0;
    background-color: #DCDCDC;
    color: #808080;
}

.text-refresh-none {
    display: none;
}

@media screen and (max-width: 736px) {
    .header-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .text-refresh-none {
        display: block;
        width: 40px;
        height: 40px;
    }

    .text-refresh {
        display: none;
    }

    .update-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
    }
}

/*Main weather*/

.main-weather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
}

.main-weather-city {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr;
}

#main-name{
    grid-column-end: span 2;
}

@media screen and (max-width: 736px) {
    .main-weather {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    .main-weather-city {
        grid-row-gap: 20px;
    }
}

.main-weather-icon-block {
    display: flex;
    align-items: center;
}

.main-icon {
    width: 120px;
    height: 120px;
}

.main-weather-degree {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-weight: 600;
    font-family: sans-serif;
    color: #696969;
}

/*main and favourite city*/

.main-weather-info-list {
    display: flex;
    flex-direction: column;
}

.main-weather-info {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.weather-info {
    padding: 5px 5px 5px 10px;
    background-color: #A9A9A9;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
}

.weather-details {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 10px 5px 5px;
    margin: 0;
    background-color: #A9A9A9;
    color: #F5F5F5;
    font-size: 18px;
    font-weight: 500;
    font-family:sans-serif;
}

@media screen and (max-width: 950px) and (min-width: 785px) {
    .weather-details {
        font-size: 14px;
    }
}

@media screen and (max-width: 785px) and (min-width: 736px) {
    .weather-details {
        font-size: 12px;
    }
}

/*Favourite*/

.main-menu {
    padding: 25px 0 20px 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

@media screen and (max-width: 736px) {
    .main-menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    input {
        width: 100%;
    }
}

.favourite-app {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.add-button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 1.5;
}

.cross-button-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cross-button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 1.5;
}

/*Favourite cities*/

.favourite-weather-cities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 40px;
}

@media screen and (max-width: 735px) {
    .favourite-weather-cities {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.favourite-weather-degree {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #696969;
    font-size: 28px;
    font-weight: 600;
    font-family:sans-serif;
}

.favourite-weather-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.favourite-weather-city {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    padding-bottom: 10px;
}