/*header*/

.header-menu {
    display: flex;
}

/*main weather*/

.main-weather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 320px) {
    .main-weather {
        display: flex;
        flex-direction: column;
    }
}

.main-weather-city {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#main-name{
    grid-column-end: span 2
}

/*favourite*/

.main-menu {
    display: flex;
    align-items: center;
}

@media (max-width: 320px) {
    .main-menu {
        display: flex;
        flex-direction: column;
    }
}

/*favourite cities*/

.favourite-weather-cities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 1em;
}

@media (max-width: 320px) {
    .favourite-weather-cities {
        display: flex;
        flex-direction: column;
    }
}

.favourite-weather-city {
    display: flex;
    align-items: center;
}